* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  float: left;
  font-size: 14px;
  font-family: 'PT serif', sans-serif;
  font-weight: 300;
  /* color: #0c0b31; */
  color:#333333
  
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Serif ', sans-serif;
  font-weight: 300;
}

.logo{
  padding:5px 0px 0px 30px;;
}
.call-us{
  display: grid;
  padding:0px 20px 0px 20px;
  grid-template-columns: 0.7fr 2fr;
  margin-right:12px;
  font-size:20px;
  align-items: center;
  border-radius: 50px;
background: #ffffff;
box-shadow:  -10px 10px 20px #c7c7c7, 
             10px -10px 20px #ffffff;
 
}

.call-centre-icon{
  height:18px;
  width: 18px;
}

.call-centre{
  margin-bottom:0px;
  color:#333333;

}
a:hover {
  text-decoration: none;
}

.dateOfTravel{
  padding:5px 0px 5px 10px;
  font-size:15px;
}

.call-us{
  border-radius: 12px;
  box-shadow:  6px 9px 12px #ababab, 
              -6px -9px 12px #ffffff;
}

.lg-heading {
  text-align: center;
  margin: 10px;
}

.hero-heading {
  text-align: center;
  font-size: 1.7rem;
  padding-top: 3px;
  font-weight: normal;
}
.header-desc {
  text-align: center;
  font-size: 1.1rem;
}

.inputAlign {
  display: grid;
  grid-template-columns: 90px 2fr;
  text-align: center;
  background-color: #222831;
  margin: 20px;
  overflow: hidden;
}
.background-wrapper {
  background-image: url('/herovan.png');
  background-repeat: no-repeat;
  background-position: 210% 60%;
  border-bottom:#eeeeee solid 1.2px; ;
}
.divider {
  text-align: center;
  font-size: 20px;
  background-color: #222831;
  padding: 25px 0px 25px 0px;
  color: white;
  letter-spacing: 5px;
}

.divider-line {
  color: #00adb5;
}
.origin-label {
  padding: 15px 0px;
  text-align: center;
  font-weight: 600;
  background-color: #222831;
  margin-bottom: 0px;
  color: white;
}

nav.navbar {
  font-family: 'PT serif';
  background: white;
  font-size: 16px;
  border-bottom: #eeeeee solid 1.2px;
}

input {
  text-align: center;
  font-size: 1.1rem;
  padding: 12px;
  border: none;
  background-color: #eeeeee;
  font-weight: 300;
}
input::placeholder {
  font-size: 15px;
  text-align: start;
}



.alert{
  padding:5px 5px;
  margin-bottom: 5px;
}
.date-size {
  width: 100%;
}
.btn {
  background-color: #00adb5;
  padding: 0px 30px;
  color: white;
  font-weight: 300;
  font-family: 'PT serif';
  font-size: 16px;
  letter-spacing: 0.5px;
}

.footer-space {
  align-content: stretch;
}

#button-pg2 {
  
  padding: 0px 30px;
  font-weight: 600;
  margin-top: 0.5rem;
  color: white;
  border-radius: 12px;
  box-shadow:  6px 9px 12px #ababab, 
              -6px -9px 12px #ffffff;

  
}

.icon-details {
  font-size: 17px;
  text-align: center;
  color: #4f4f4f;
  margin-top: 11px;
  font-weight: 400;
  max-width: 50%;
}
.greatJob{
  grid-area: 1 / 1 / span 1 / span 3;
  padding:5px;
  font-size:20px;
}
.cartegory {
  display: none;
  grid-template-rows: 1f 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 100%;
  margin: 0px 150px 50px 150px;
  grid-gap: 25px;
  box-sizing: border-box;
  transition-duration: 1s;
  padding: 8px;
  overflow-x: auto;
}
.cartegory img {
  height:200px;
  width:200px;
  border-radius: 20px;
  padding:0px 20px 20px 20px;
  align-items: center;
background: linear-gradient(145deg, #ffffff, #e6e6e6);
box-shadow:  14px 14px 28px #bababa, 
             -14px -14px 28px #ffffff;

}

.cartegory img:hover {

  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.cartegory-thumbnail{
 align-items: center;
}

#card-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0px;
  margin:40px 40px 40px 40px;
  grid-gap: 40px;
  
  
}

#cards {
  
  justify-content: center;
}

.how-to-headings {
  padding: 15px 0px 0px 5px;
  font-size: 20px;
}
.how-to-icons {
  width: 60px;
  height: 60px;
  justify-content: center;
}

.how-to-text{
  padding:10px 5px 5px 5px;

}
.label-pg2 {
  margin: 0px 0px 0px 0px;
}


.footer-info{
 
  background-color: #222831;
  color:#eeeeee
}

.input-rider {
  width: 98%;
  text-align: center;
  padding: 10px 7px;
  margin-top: 10px;
  background-color: #dcdfe3;
}

.slider-img {
  height: 250px;
}

.hearse-details {
  margin: 10px;
  padding: 5px;
  
}

.gazibo {
  border-top: 0.2px solid #f1f1f1;
  border-top-width: 50%;
  border-color: #f1f1f1;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
 
}

.gallery__img {
  width: 100%;
  border-radius: 5px;
}

.heading-pg2 {
  text-align: center;
}

.gallery-card {
  padding: 15px;
  border-radius: 15px;
  border-radius: 10px;
  background:#eeeeee;
  box-shadow:  6px 6px 12px #bdbdbd, 
              -6px -6px 12px #ffffff;
 
}

.gallery-paragraph {
  text-align: center;
  font-weight: 600;
  margin-top: 15px;
  font-size: 16px;
  text-decoration: none;
  color: #333333;
}

.gallery-select{
  text-align: center;
  font-weight: 600;
  margin-top: 12px;
  padding:5px;
  font-size: 16px;
  text-decoration: none;
  color: #333333;
  border-radius: 26px;
  box-shadow:  6px 9px 12px #ababab, 
              -6px -9px 12px #ffffff;
}
.money-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:10px;
  padding: 3px 0px 10px 25px;
  justify-content: center;
  margin-bottom: 10px;
  border-bottom: 15px solid #393e46;

 
  
  
}
.label-route,
.label-total {
  font-size: 16px;
}
.heading-route,
.heading-total {
  font-size: 15px;
  margin-bottom: 0px;
  font-weight: 500;
  max-width: 80%;
  padding:15px 20px 20px 30px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: inset 6px 6px 12px #bdbdbd, 
              inset -6px -6px 12px #ffffff;
  
}
.gallery-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px 11px;
}

.left-arrow{
  display:none;
}

.hearse-details{
    
  border-radius: 16px;
  background: #ffffff;
  box-shadow:  6px 6px 12px #b8b8b8, 
              -6px -6px 12px #ffffff;
  padding:20px 10px 20px 40px;
  margin:8px;
}
.request-info{
  font-size:16px;
  padding:5px 0px 5px 0px;
  border-top: 0.2px solid #f1f1f1;
  border-top-width: 20%;
  border-color: #f1f1f1;
  color:#333333
}
.request-title{
  font-size:20px;
  color: #444950;
  padding-bottom: 5px;
}

.input-rider {
  width: 98%;
  text-align: center;
  padding: 10px 7px;
  margin: 15px 0px;
  border-radius: 14px;
  background: #ffffff;
  box-shadow: inset 8px 8px 11px #d1d1d1, 
              inset -8px -8px 11px #ffffff;
}

.parkSubheading{
  font-size:13px;
}

/****media queries***/

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .xs-heading {
    display: none;
  }

  .top-pg2 {
    display: grid;
    grid-template-columns: 55% 1fr;
    grid-column-gap: 12px;
    margin-bottom: 80px;
  }
  .slider-pg-two img {
    height: 50%;
  }

  .wrapper-hero {
    position: relative;
    width: 40%;
    font-size: 14px;
    padding: 40px 20px 20px 20px;
    margin-left: 20px;
    border-radius: 13px;
    background: #ffffff;
    box-shadow: 8px 8px 23px #d1d1d1, -8px -8px 23px #ffffff;
  }

  .big-header {
    font-size: 18px;
  }
  .header-subtitle {
    font-size: 14px;
  }

  .background-wrapper {
    height: 600px;
  }

  .top-title {
    text-align: center;
    font-size: 38px;
    padding-top: 20px;
    font-weight: 100;
  }
  .big-header {
    text-align: center;
  }

  .top-subtitle {
    text-align: center;
    font-size: 20px;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding: 30px;
    margin: 10px;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .xs-heading {
    display: none;
  }

  .top-pg2 {
    display: grid;
    grid-template-columns: 55% 1fr;
    grid-column-gap: 12px;
  }
  .slider-pg-two img {
    height: 50%;
  }

  .wrapper-hero {
    position: relative;
    width: 45%;
    font-size: 14px;
    padding-top: 70px;
    padding-left: 20px;
  }

  .big-header {
    font-size: 18px;
  }
  .header-subtitle {
    font-size: 14px;
  }

  .background-wrapper {
    background: #d3cce3; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #e9e4f0,
      #d3cce3
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #e9e4f0,
      #d3cce3
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 600px;
  }

  .container {
    margin:20px;
   
    padding: 0px;
  }

  .top-title {
    text-align: center;
    font-size: 38px;
    padding-top: 40px;
  }

  .top-subtitle {
    text-align: center;
    font-size: 20px;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .xs-heading {
    display: none;
  }

  .top-pg2 {
    display: grid;
    grid-template-columns: 55% 1fr;
    grid-column-gap: 12px;
  }
  .slider-pg-two img {
    height: 50%;
  }

  .wrapper-hero {
    position: relative;
    width: 45%;
    font-size: 14px;
    padding-top: 70px;
    padding-left: 20px;
  }

  .big-header {
    font-size: 18px;
  }
  .header-subtitle {
    font-size: 14px;
  }

  .background-wrapper {
    
    height: 600px;
  }

  /* .container {
    margin:2px;
    padding: 0px;
  } */

  .top-title {
    text-align: center;
    font-size: 38px;
    padding-top: 40px;
  }

  .top-subtitle {
    text-align: center;
    font-size: 20px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 768px) {
  .xs-heading {
    display: none;
  }

  .top-pg2 {
    display: grid;
    grid-template-columns: 55% 1fr;
    grid-column-gap: 12px;
  }
  .slider-pg-two img {
    height: 50%;
  }

  .bottom-pg-two {
    margin-top: 30px;
    border-top: 0.2px solid #f1f1f1;
  }

  .input-rider::placeholder {
    text-align: center;
  }

  .hearse-details {
    text-align: center;
  }
  .gazibo {
    background: #dcdfe3;
    border-radius: 12px;
    padding-top: 5px;
  }
  .wrapper-hero {
    background: #ffffff;
    padding: 10px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

 
  .top-title {
    display: none;
  }

  .top-subtitle {
    display: none;
  }

  .big-header {
    display: none;
  }
  .header-subtitle {
    display: none;
  }

  .bottom-pg-two {
    display: none;
  }

  .pg-two {
    margin: 12px 20px;
    margin-bottom: 30px;
  }

  .pg-two h3 {
    text-align: center;
    font-weight: 300;
  }
  .gazibo {
    text-align: center;
    color: #bbc1c6;
  }
  .pill {
    text-align: center;
    padding: 20px;
  }
  .faintline {
    text-align: center;
  }
  label {
    width: 100px;
    text-align: start;
    padding-left: 5px;
  }

  input::placeholder {
    font-size: 14px;
    text-align: start;
  }
  .hero-heading {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: normal;
    margin:0px  0px 40px 8px;
    font-weight: 800;
  }
  .money-nav {
    grid-gap: 8px;
    padding: 0px;
  }
  .heading-route,
  .heading-total {
    font-size: 15px;
  }
  .label-route,
  .label-total {
    font-size: 12px;
  }
  .left-arrow {
    padding-left: 5px;
  }
  .gallery-paragraph {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .gallery-card {
    padding: 5px;
    border-radius: 5px;
  }
  .gallery {
    grid-gap: 10px;
  }
  .gallery__img {
    border-radius: 5px;
  }


  .divider {
  text-align: center;
  margin-top:60px;
  font-size: 12px;
  background-color: #222831;
  padding: 40px 0px 15px 0px;
  color: white;
  letter-spacing: 1px;
}

 .btn{
 
  padding:3px;
  margin:0px;
  }

 #card-area{
  display:grid;
  grid-template-columns: 1fr;

  }

.cartegory {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 100%;
  margin: 0px;
  grid-gap: 15px;
  box-sizing: border-box;
  transition-duration: 1s;
  padding: 8px;
  
  }

 .inputAlign {
  display: grid;
  grid-template-columns:110px 2fr;
  text-align: left;
  background-color: #222831;
  margin:20px 0px 20px 0px;
  overflow: hidden;


 }
  .how-to-icons{
    align-items: center;
  }

  .origin-label {
    font-size: 16px;
    padding: 15px 10px;
    text-align: left;
    font-weight: 600;
    background-color: #222831;
    margin-bottom: 0px;
    color: white;
  }

  .how-to-text{
    font-size: 16px;
  }

  .cartegory img {
    /* max-width: 100%;
    height: 100%; */
    height:90px;
    width:90px;
    border-radius: 2px;
    padding:0px 10px 10px 10px;
    align-items: center;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:  12px 12px 14px #bababa, 
              -12px -12px 14px #ffffff;


  }
  .parkSubheading{
    padding-top:18px;
    padding-left:30px;
   
  }


  .icon-details {
    font-size: 16px;
    text-align: center;
    color: #4f4f4f;
    margin-top: 8px;
    font-weight: 300;
    max-width: 100%;
  }

  .wrapper{
    margin-top:2px;
  }

  .money-nav {
    display: grid;
    grid-template-columns:  1fr;
    grid-gap:5px;
    padding: 3px 0px 10px 8px;
    justify-content: center;
    margin-bottom: 20px;
  
    
  }
  .label-route,
  .label-total {
    font-size: 12px;
    margin-bottom: 0px 0px 5px 0px;
    padding:7px 10px 10px 30px;
  }
  .heading-route,
  .heading-total {
    font-size: 16px;
    margin-bottom: 0px;
    font-weight: 500;
    max-width: 90%;
    padding:7px 10px 10px 30px;
    border-radius: 5px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow:  9px 9px 18px #b5b5b5, 
                 -9px -9px 18px #ffffff;
    
  
  }
  .gallery-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px 11px;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .left-arrow{
    display: inline;
    padding: 20px;
  }

  .gallery-select{
    font-size:14px;
  }
  .hearse-details{
    
    border-radius: 16px;
    background: #ffffff;
    box-shadow:  6px 6px 12px #b8b8b8, 
                -6px -6px 12px #ffffff;
    padding:20px 10px 20px 10px;
    margin:8px;
  }
  .request-info{
    font-size:16px;
    padding:5px 0px 5px 0px;
    border-top: 0.2px solid #f1f1f1;
    border-top-width: 20%;
    border-color: #f1f1f1;
    color:#333333
  }
  .request-title{
    font-size:18px;
  }

  .input-rider {
    width: 98%;
    text-align: center;
    padding: 10px 7px;
    margin: 15px 0px;
    border-radius: 14px;
    background: #ffffff;
    box-shadow: inset 8px 8px 11px #d1d1d1, 
                inset -8px -8px 11px #ffffff;
  }

  .blue-title{
    font-size:1.3rem;
    text-align: center;
    padding:2px;
    border-radius: 30px;
    color: #333333
   
  }

}